.doryokuchi_title{
    margin-left:10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

noindex:-o-prefocus,
input[type=number] {
    padding-right: 1.2em;
}

.doryokuchi{
    float: left;
    list-style: none;
    margin-top:0px;
    margin-left:10px;
    -webkit-appearance: none; 
}

.doryokuchi_label{
    float: left;
    list-style: none;
    margin-top:28px;
    margin-left:10px;
}

.boxform{
    width:50px;
    Height:25px;
}

.input{
    margin-left:10px;
}